* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6A9C89, #F0F4F8); /* Gradien warna */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: backgroundAnimation 10s ease infinite; /* Animasi latar belakang */
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Sedikit transparan untuk efek blur */
    backdrop-filter: blur(10px); /* Efek blur pada latar belakang */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

.icon-wrapper {
    margin-bottom: 20px;
}

.icon-wrapper img {
    width: 80px;
    height: 80px;
}

h1 {
    font-size: 24px;
    color: #507F73;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.btn-wrapper {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #507F73;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #405F58;
}

@media (max-width: 600px) {
    .card {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
