/* Background halaman */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6A9C89, #B4C2D6);
}

/* Kontainer utama untuk form Forgot Password */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Styling untuk form Forgot Password */
.forgot-password-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
}

/* Heading form */
.forgot-password-form h2 {
    color: #6A9C89;
    margin-bottom: 30px;
    z-index: 2;
    position: relative;

}

/* Style untuk input form */
.forgot-password-form .form-group {
    margin-bottom: 20px;
}

.forgot-password-form label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
    display: block;
}

.forgot-password-form input[type="email"] {
    height: 45px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ced4da;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-form input[type="email"]:focus {
    border-color: #6A9C89;
    box-shadow: 0 0 8px rgba(106, 156, 137, 0.5);
    background-color: #ffffff;
}

/* Tombol submit */
.forgot-password-form input[type="submit"] {
    background-color: #6A9C89;
    color: white;
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-form input[type="submit"]:hover {
    background-color: #507F73;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Link yang muncul di bawah form */
.forgot-password-form p {
    font-size: 14px;
    color: #333333;
}

.forgot-password-form a {
    font-weight: bold;
    color: #6A9C89;
    text-decoration: none;
}

.forgot-password-form a:hover {
    color: #333333;
}

/* Animasi untuk form */
.forgot-password-form {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Animasi fade-in */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
